html, body { height: 100%; padding: 0; margin: 0; }
div { width: 100%; height: 100%; align = center; }
#mid { background: white; height: 100%; width: 100%;}
#mid2 { background: #ecefef; height: 100%; width: 100%;}
#bottom { background: #d1d4d4; height: 1000px; width: 100%;}


.cover { 
	background-size: cover;
	max-width: 100%;
	height: 200px;

 }

 img{
 	background-size: cover;
 	width: 100%;
 	height: 502px;
 }

 #mid{
 	width: 100%;
 	height: 100%;
 	align: center;
 }

h1 {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	color: white;
	font-size: 130px;
	font-family: 'courier';
}


span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;

}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}



text {
	background-font: white;
	opacity: .9;
	font-size: 150px;
	color: white;
}

.image1{
	float: right;
	max-width: 290px;
	max-height: 290px;
	border-radius: 8px;
	margin-right: 30px;
}

.bio{
	float: left;
	text-align: left;
}

.about {
	display: block;
	font-family: 'courier';
	text-align: center;
	font-size: 50px;
	opacity: .75;
	height: auto;
}

pre {
	font-size: 20px;
	opacity: .6;
}

}
#left {
    float: left;

}
#center {
    margin: 5px 0;
    width: calc(100% - 460px);
}
#right {
    margin: 5px;
    width: 220px;
}


.image2 {
	width: 174px;
	height: 174px;
	opacity: .9;
	float: left;
	margin-left: 170px;
}


/* UI UX */ 
.image3 {
	width: 151px;
	height: 145px;
	/*vertical-align: middle;*/ 
	opacity: .9;
	float: right;
	margin-right: 150px;


}

/* middle */
.image4 {
	width: 174px;
	height: 174px;
	align-content: center;
	vertical-align: middle;

	margin-left: 450px;
}

.image5{
	width: 300px;
	height: 200px;
	float: left;
	margin-left: 200px;
	border-radius: 8px;
	
}

.image6{
	width: 300px;
	height: 200px;
	margin-left: 192px;
	border-radius: 8px;
	float: left;
}

footer{
	background: #333333;
	width: 100%;
	height: 110px;
	overflow: hidden;
	opacity: 0.90;
	color: #FFF;
	text-align: center;

}

footer.second{
	border-top: 1px solid #4D4E50;
	background-color: #333333;
	max-height: 40px;
	text-align: center;
	opacity: 0.95;
}

ul.social li{
	display:incline;
}

ul.social div:hover
{
	text-decoration: underline;
}

header
{
	background: #405580;
	width: 100%;
	height: 100px;
	left: 0;
	top: 0;
	z-index: 100;
	position: fixed;
	opacity: .8;
}

ul{
	list-style: none;

}
nav ui li{
	display: inline-block;
	float: left;
}

li a{
	color: white;
	text-decoration: none;
}




@media only screen and (max-width:320px)  { 
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	pre{
		font-size: 10px;
	}

	text{
		font-size: 30px;
		text-align: center;
	}

	.about{
		font-size: 15px;
	}


	.image2, .image3, .image4, .image5, .image6 {
		display: none;
	}





 }


 @media only screen and (max-width: 1224px) {
 		pre{
		font-size: 10px;
	}

	text{
		font-size: 30px;
	}

	.about{
		font-size: 15px;
	}

	.image1,.image2,.image3,.image4,.image5,.image6 {
		max-width: 50%;
		max-height: 50%;
	}

 }



