html, body { height: 100%; padding: 0; margin: 0; }
div { width: 100%; height: 100%; align = center; }
#mid { background: white; }
#mid2 { background: #ecefef; }
#bottom { background: #d1d4d4; }


.cover { 
	background-size: cover;
	max-width: 100%;
	width: auto;
	height: 250px;

 }

 img{
 	background-size: cover;
 	width: 100%;
 	height: 750px;
 }

 #mid{
 	width: 100%;
 	height: 100%;
 	align: center;
 }

h1 {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}

text {
	background-font: white;
	opacity: .9;
	font-size: 150px;
	color: white;
}

.image1{
	float: right;
	max-width: 290px;
	max-height: 290px;
	border-radius: 8px;
	margin-right: 30px;
}

.bio{
	float: left;
	text-align: left;
	margin-left: 40px;
}

.about {
	display: block;
	font-family: 'courier';
	text-align: center;
	font-size: 50px;
	opacity: .75;
}

pre {
	font-size: 20px;
	opacity: .6;
}

}
#left {
    float: left;

}
#center {
    margin: 5px 0;
    width: calc(100% - 460px);
}
#right {
    margin: 5px;
    width: 220px;
}



.image2 {
	width: 450px;
	height: 450px;
	opacity: .9;
	float: left;
}

.image3 {
	width: 470px;
	height: 370px;
	/*vertical-align: middle;*/ 
	opacity: .9;
	float: right;
	margin-top: 40px;
	margin-right: 20px;


}

.image4 {
	width: 420px;
	height: 420px;
	align-content: center;
	vertical-align: middle;
	/* display: inline-block; */ 
	margin-left: 320px;
	margin-top: 10px;
}

.image5{
	width: 580px;
	height: 340px;
	float: left;
	margin-left: 200px;
	margin-top: 100px;
	border-radius: 8px;
	
}

.image6{
	width: 591px;
	height: 340px;
	margin-left: 192px;
	border-radius: 8px;
	float: left;
}



@media only screen and (max-width:320px)  { 
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
 .cover{
 	display: inline-block;
 	border-left: 0;
 	text-align: center;

 }

 html, body{
 	margin: 0;
 	padding: 0;
 	width: 100%;
 	height: 100%;
 }

 div{
 	width: 80%;
 }

 .image1, .image2, .image3, .image4, .image5, .image6{
 	width: 4%;
 	height: 4%;
 }

 #mid, #mid2, #bottom{
 	width: 100%;
 }


 }
