/*
 Media query sizes from 
https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

/* iphone 6,6s,7,8 */
/*portrait and landscape */

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio:2) {

	}

/* portrait */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio:2)
	and (orientation:portrait) {

	}

/* landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio:2)
	and (orientation:landscape) {

	}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* Laptops */
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}


*{
	margin:0;
	border:0;
	padding:0;
}

body 
{
	font:14px/20px Arial, San-Serif;
	color:#555;
	margin:0;
}

h1 
{
	font-size: 180%;
	line-height: 120%;
	padding:5% 0;
}

p 
{
	padding:1%;
}

img
{
	max-width: 100%;
	height: auto;
	width: auto;
}

a
{
	color:#555;
	text-decoration: none;
	font-weight: bold;
}

a:hover 
{
	text-decoration: underline;

}