/*
 Media query sizes from 
https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

/* iphone 6,6s,7,8 */
/*portrait and landscape */

@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio:2) {

	}

/* portrait */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio:2)
	and (orientation:portrait) {

	}

/* landscape */
@media only screen
	and (min-device-width: 375px)
	and (max-device-width: 667px)
	and (-webkit-min-device-pixel-ratio:2)
	and (orientation:landscape) {

	}


/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* Laptops */
/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

}

/*--------------------------*/
@media screen and (max-width: 478px)
{
	body{
		position: absolute;
	}
}


@media screen and (max-width: 478px)
{
	header{
		position: absolute;
	}

	nav ul, nav:active ul{
		display: none;
		position: absolute;
		padding: 20px;
		background: #405580;
		border: 1px solid #FFF;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 2px 0 2px 2px;
	}
}



/*---------------------------*/




*{
	margin:0;
	border:0;
	padding:0;
}

body 
{
	font:14px/20px Arial, San-Serif;
	color:#555;
	margin:0;
}

h1 
{
	text-align: center;
	font-size: 250%;
	line-height: 280%;
	padding:2% 0;
}


a
{
	color:#FFF;
	text-decoration: none;
	font-family: "Times New Roman", Georgia, Serif;

}

a:hover 
{
	text-decoration: underline;
	color: #FFF;

}



a:hover#menu-icon{
	border-radius: 4px 4px 0 0;

}

ul{
	list-style: none;

}
nav ui li{
	display: inline-block;
	float: left;
}

section{
	width: 29%;
	margin: 2% 2%;
	text-align: center;
	padding: 2%;
}

header
{
	background: #405580;
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: .90;
}


h2
{
	padding: 2% 0;

}

img{
	text-align: right;
}

footer{
	background: #333333;
	width: 100%;
	height: 50%;
	overflow: hidden;
	opacity: 0.90;
	color: #FFF;
	text-align: center;

}

ul.social li{
	display:incline;
}

ul.social div:hover
{
	text-decoration: underline;
}



footer.second{
	border-top: 1px solid #4D4E50;
	background-color: #333333;
	max-height: 50px;
	text-align: center;
	opacity: 0.95;
}

aside {
	padding: 2%;
	margin: 0 auto;
	width: 35%
	height: auto;
}

h3 {
	padding: 1%;
}

p{
	font-family: "Times New Roman", Georgia, Serif;

}