

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  		header{
		position: absolute;
		width: 35%;


	}

	nav ul, nav:active ul{
		display: none;
		position: absolute;
		padding: 20px;
		background: #405580;
		border: 1px solid #FFF;
		right: 20px;
		top: 60px;
		width: 35%;
		border-radius: 2px 0 2px 2px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul{
		display: block;

	}

	section{
		float: left;
		width: 35%;
		margin: 0;
		padding: 0;
	}

	aside{
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	p{
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
	}
	footer{
		height: 20px;
	}

}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  		header{
		position: absolute;
		width: 35%;
	}

	nav ul, nav:active ul{
		display: none;
		position: absolute;
		padding: 10px;
		background: #405580;
		border: 1px solid #FFF;
		right: 20px;
		top: 60px;
		width: 35%;
		border-radius: 2px 0 2px 2px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul{
		display: block;

	}

	section{
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	aside{
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	p{
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
	}
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  		header{
		position: absolute;
	}

	nav ul, nav:active ul{
		display: none;
		position: absolute;
		padding: 20px;
		background: #405580;
		border: 1px solid #FFF;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 2px 0 2px 2px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul{
		display: block;

	}

	section{
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	aside{
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	footer{
		height: 20px;
	}

	p{
		width: 100%;
		padding: 0;
		margin: 0;
		text-align: center;
	}

}



@media screen and (max-width: 478px)
{
	body{
		position: absolute;
	}
}

/*---------------IPAD-----------*/
@media screen and (max-width: 740px)
{
	header{
		position: absolute;
	}

	nav ul, nav:active ul{
		display: none;
		position: absolute;
		padding: 20px;
		background: #405580;
		border: 1px solid #FFF;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 2px 0 2px 2px;
	}

	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul{
		display: block;

	}

	section{
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	aside{
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
}



/*---------------------------*/




*{
	margin:0;
	border:0;
	padding:0;
}

body 
{
	font:14px/20px Arial, San-Serif;
	color:#555;
	margin:0;
}

h1 
{
	text-align: center;
	font-size: 250%;
	line-height: 280%;
	padding:2% 0;
}


a
{
	color:#FFF;
	text-decoration: none;
	font-family: "Times New Roman", Georgia, Serif;

}

a:hover 
{
	text-decoration: underline;
	color: #FFF;

}


ul{
	list-style: none;

}
nav ui li{
	display: inline-block;
	float: left;
}

section{
	width: 29%;
	margin: 2% 2%;
	text-align: center;
	padding: 2%;
}

header
{
	background: #405580;
	width: 100%;
	height: 86px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: .90;
}


h2
{
	padding: 1% 0;

}

footer{
	background: #333333;
	width: 100%;
	height: 50%;
	overflow: hidden;
	opacity: 0.90;
	color: #FFF;
	text-align: center;

}

ul.social li{
	display:incline;
}

ul.social div:hover
{
	text-decoration: underline;
}



footer.second{
	border-top: 1px solid #4D4E50;
	background-color: #333333;
	max-height: 50px;
	text-align: center;
	opacity: 0.95;
}

aside {
	padding: 1%;
	margin: 0 auto;
	width: 35%
	height: auto;
}

h3 {
	padding: 1%;
}

p{
	font-family: "Times New Roman", Georgia, Serif;

}